label {
  display: inline-block;
  padding-right: $base-pading/2;
}

input[type=text],
input[type=number],
input[type=date],
.select select
{
  height: 30px;
  padding: 0 8px;
}

input[type=number] {
  width: 100px;
}

.button {
  text-transform: none;
}

input[type=range] {
  appearance: slider-horizontal;
}