.tabNav {
  display: flex;
  border-bottom: solid 1px lightgrey;

  li {
    list-style: none;
    font-weight: bold;

    &:not(:last-child)::after {
      content: '|';
      display: inline-block;
      width: 40px;
      text-align: center;
    }
  }

  a {
    &:hover {
      color: darkred;
    }

    &.active {
      text-decoration: none;
      color: lightgray;
    }
  }
}