
h1, h2, h3 {
  color: $brand-dark;
  line-height: $line-height-base;
  margin: $line-height-base/4 0;
}

h1 {
  font-size: $font-size-base * 2;
  span {
    font-size: $font-size-base * 1.3;
    color: gray;
  }
}

h2 {
  font-size: $font-size-base * 1.5;
}

h3 {
  font-size: $font-size-base * 1.3;
}

ul {
    padding-left: $base-pading;
    li {
      list-style-type: disc;
    }
  }
ol {
  padding-left: $base-pading;
  li {
    list-style-type: decimal;
  }
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}